@import 'tailwindcss';
@import '@chatgbeant/tailwind-config/theme';

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1280px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
